#card{
	margin-bottom: 10px;
}
.caption{
        display: flex;
        flex-direction: row;   
        
}
figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}