@media only screen and (max-width: 600px) {
  .MnWb5 {
    left: 110ch;
    position: fixed;
    top: 88px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .MnWb5 {
    left: 90ch;
    position: fixed;
    top: 88px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .MnWb5 {
    left: 90ch;
    position: fixed;
    top: 88px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .MnWb5 {
    left: 77ch;
    position: fixed;
    top: 88px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .MnWb5 {
    left: 110ch;
    position: fixed;
    top: 88px;
  }
}

#card{
	margin-bottom: 6px;
}
.caption{
        display: flex;
        flex-direction: row;   
        
}
figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #b3bbb3;
	overflow: hidden;
}

.card_header{
  height:50px;
}