$primary: #0095F6;
$blue: #0d6efd;
$info: #3aa5ec;
$indigo: #6610f2;
$purple: #6f42c1;

$pink: #ff4584;
$pink-second: #f53677;
$pink3: #950740;
$crimson: #990000;

$red: #db4437;
$orange: #fd7e14;
$yellow: #ffc107;
$yellow-sec: #ffe227;

$green: #54e346;
$green-dark: #198754;
$teal: #20c997;

$dark: #252525;
$gray-dark: #222831;
$gray: #607d8b;
$secondary: #c9ccd1;
$none: white;

$colors: (
  "white": $none,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "pink-secondary": $pink-second,
  "pink-tertiary": $pink3,
  "crimson": $crimson,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "yellow-sec": $yellow-sec,
  "green": $green,
  "green-dark": $green-dark,
  "teal": $teal,
  "cyan": $primary,
  "gray": $gray,
  "dark": $dark,
  "gray-dark": $gray-dark,
  "secondary": $secondary,
);
